@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Adresse: <br />
    Aarhus C, 8000<br />
</address>

<address>
    <abbr title="Phone">Telefon:</abbr> <br />
    Morten Sand: +45 xx xx xx xx <br />
</address>

<address>
    <strong>Morten Sand:</strong> <a href="mailto:emilthygesen@outlook.com">MAIL@hotmail.com</a><br />
</address>
