@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Adresse: <br />
    Aarhus C, 8000<br />
</address>

<address>
    <abbr title="Phone">Telefon:</abbr> <br />
    Frederik Emil Thygesen: 20279165 <br />
    Frederik Nygaard Svendsen: 51208041 <br />
</address>

<address>
    <strong>Frederik Emil Thygesen:</strong> <a href="mailto:emilthygesen@outlook.com">EmilThygesen@outlook.com</a><br />
    <strong>Frederik Nygaard Svendsen:</strong> <a href="mailto:frederiksvendsen111@hotmail.com">frederiksvendsen111@hotmail.com</a>
</address>
